[submodule "Auth-Service/Auth-Service/food-delivery-submodule"]
	path = Auth-Service/Auth-Service/food-delivery-submodule
	url = git@github.com:Javokhdev/food-delivery-submodule.git
[submodule "new-submodule-name"]
	path = Auth-Service/food-delivery-submodule
	url = git@github.com:Javokhdev/food-delivery-submodule.git
